<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Krellian Kiosk Login</title>
    <link rel="icon" href="/images/icon.png" />
    <link rel="stylesheet" href="../css/app.css" type="text/css" />
    <link rel="stylesheet" href="css/login.css" type="text/css" />
    <script src="js/login.js"></script>
  </head>
  <body>
   <section id="login">
     <img id="wordmark" src="../images/wordmark.svg" alt="Krellian Kiosk">
     <h1 id="screen-name" class="hidden"></h1>
     <form id="login-form">
       <input id="password-input" name="password" type="password" required placeholder="Password" />
       <input id="username-input" name="username" type="hidden" value="admin" />
       <input type="submit" value="Log in" />
     </form>
   </section>

  </body>
</html>
