body {
  background-color: #333333;
}

.hidden {
  display: none;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.back-button {
  display: block;
  position: fixed;
  left: 2rem;
  top: 2rem;
  width: 5.6rem;
  height: 5.6rem;
  background-image: url(../images/back.svg);
  background-size: 5.6rem;
  opacity: 0.9;
}

.back-button:hover {
  opacity: 1;
}

#wordmark {
  display: block;
  margin: 0 auto;
  padding: 3.3rem;
  height: 3rem;
}


#screen-name, #screen-password, #wifi-password-prompt {
  width: 50rem;
  margin: 0 auto;
  top: calc(50% - 18rem);
  position: relative;
  text-align: center;
}

#screen-password {
  text-align: center;
}

#screen-name-form, #screen-password-form, #wifi-password-form {
  width: 27rem;
  margin: 0 auto;
}

#screen-password-form input[type=password] {
  margin-bottom: 1rem;
}

#screen-name-label {
  display: block;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  text-align: left;
}

#wifi-connect {
  padding: 2rem;
}

#wifi-networks {
  display: block;
  padding: 0;
  margin: 1rem auto;
  width: 100%;
  max-width: 55rem;
}

.wifi-network-item {
  box-sizing: border-box;
  height: 5.6rem;
  list-style-type: none;
  color: #fff;
  font-size: 1.8rem;
  background-color: #4d4d4d;
  border-radius: 0.5rem;
  padding: 1.2rem;
  margin: 1rem;
}

.wifi-network-item:hover {
  background-color: #666;
}

.wifi-network-ssid {
  line-height: 3.2rem;
}

.wifi-network-security {
  width: 3.2rem;
  height: 3.2rem;
  border: 0;
  float: right;
  background-image: url('../images/wifi-sprite.svg');
}

/** Wi-Fi icon sprite **/
.insecure-0 {
  background-position: 0 0;
}

.insecure-1 {
  background-position: 12.8rem 0;
}

.insecure-2 {
  background-position: 9.6rem 0;
}

.insecure-3 {
  background-position: 6.4rem 0;
}

.insecure-4 {
  background-position: 3.2rem 0;
}

.secure-0 {
  background-position: 0 3.2rem;
}

.secure-1 {
  background-position: 12.8rem 3.2rem;
}

.secure-2 {
  background-position: 9.6rem 3.2rem;
}

.secure-3 {
  background-position: 6.4rem 3.2rem;
}

.secure-4 {
  background-position: 3.2rem 3.2rem;
}

#wifi-password-prompt {
  height: 15rem;
}

#wifi-password-prompt h1 {
  font-weight: normal;
}

#wifi-password-prompt h1 img {
  margin-right: 0.5rem;
}

#wifi-password-prompt h1 span {
  display: inline-block;
  line-height: 3.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 46rem;
}

#wifi-password-checkbox {
  display: none;
}

#wifi-show-password {
  display: block;
  text-align: left;
  color: #fff;
  font-size: 1.6rem;
  padding-top: 1rem;
}

#wifi-show-password::before {
 content: '';
 display: inline-block;
 width: 3rem;
 height: 3rem;
 background-image: url('../images/checkbox-sprite.svg');
 background-position: 0 0;
 vertical-align: middle;
 margin-right: 0.5rem;
}

#wifi-password-checkbox:checked + #wifi-show-password::before {
  background-position: 0 9rem;
}

#wifi-connecting {
  width: 54rem;
  height: 10rem;
  margin: 0 auto;
  top: calc(50% - 15rem);
  position: relative;
  text-align: center;
}

#wifi-connecting p {
  font-size: 1.7rem;
  color: #fff;
}
