<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Krellian Kiosk</title>
    <link rel="icon" href="images/icon.png" />
    <link rel="stylesheet" href="../css/app.css" type="text/css" />
    <link rel="stylesheet" href="css/display.css" type="text/css" />
  </head>
  <body>
    <section id="display">
      <img id="wordmark" src="../images/wordmark.svg" alt="Krellian Kiosk">
    </section>
  </body>
</html>
